  {{#partial "otherHead"}}

  {{/partial}}

  {{#partial "contenido"}}
  <html>

  <style>

  div.wardrobe-clothes{
    margin-top:10px;
    margin-bottom:10px;
    padding: 20px;
    background-color: rgba(213, 213, 213, 0.5);
  }

  .clothe-list{
    column-count: 2;
  }

  div.form {
    line-height: 2.5;
    margin-left: 30px;
    margin-right: 30px;
    opacity: 1;
  }
  </style>


  </div>
    <h1 align="center">Creacion de prenda</h1>

  <div class="form">
    <form class="clothe-form" action="/prenda/nueva" method="POST">

      <div class="wadrobe-select">
        — Seleccione el guardarropas donde quiere almacenar:
        <select name="guardarropa" id="guardarropa" onchange="get_wardrobe()" required>
          <option value="" selected disabled hidden>sin seleccionar</option>
          {{#each guardarropas}}
          <option value="{{id}}">{{id}}</option>
          {{/each}}
         </select>
         <div class="wardrobe-clothes">
           Las prendas que contiene el guardarropa selecionado son:
           <ul class="clothe-list" id="clothe-list">
            </ul>
          </div>
       </div>

      <div class="clothe-type-select">
          — Seleccione un tipo de prenda:
          <select name="tipoPrenda" id="tipoPrenda" onchange="get_clothe_type()" required>
            <option value="" selected disabled hidden>sin seleccionar</option>
             <option value="Remera">remera</option>
             <option value="RemeraMangaCorta">remera manga corta</option>
             <option value="RemeraMangaLarga">remera manga larga</option>
             <option value="CamisaMangaCorta">camisa manga corta</option>
             <option value="CamisaMangaLarga">camisa manga larga</option>
             <option value="Pantalon">pantalon</option>
             <option value="Short">short</option>
             <option value="PolleraCorta">pollera corta</option>
             <option value="PolleraLarga">pollera larga</option>
             <option value="Bermuda">bermuda</option>
             <option value="Calza">calza</option>
             <option value="Jardinero">jardinero</option>
             <option value="Zapatos">zapatos</option>
             <option value="Ojotas">ojotas</option>
             <option value="Botas">botas</option>
             <option value="Zapatillas">zapatillas</option>
             <option value="Borcegos">borcegos</option>
             <option value="Gorro">gorro</option>
             <option value="Gorra">gorra</option>
             <option value="Sombrero">sombrero</option>
             <option value="Tapado">tapado</option>
             <option value="Buzo">buzo</option>
             <option value="Campera">campera</option>
           </select>
      </div>

      <div class="principal-color-select">
        — Seleccione un color primario:
        <select name="colorPrimario" required>
          <option value="" selected disabled hidden>sin seleccionar</option>
          {{#each colores}}
            <option value={{this}}>{{this}}</option>
          {{/each}}
         </select>
       </div>

       <div class="optional-color-select">
         — Seleccione un color secundario:
         <select name="colorSecundario">
           <option value="" selected disabled hidden>sin seleccionar</option>
           {{#each colores}}
             <option value={{this}}>{{this}}</option>
           {{/each}}

          </select>
        </div>

        <div class="material-select">
          — Seleccione tipo de material
          <select name="tela" id="tela" required>
            <option value="" selected disabled hidden>sin seleccionar</option>
           </select>
         </div>
          <div class="create-btn">
            <button>Crear</button>
          </div>
      </form>
    </div>
  {{/partial}}
  {{>layout.hbs}}

  <script>

  var close = document.getElementById("closebtn");

  close.onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }

  function get_wardrobe() {
    var selectedOption = document.getElementById("guardarropa").value;
    var xhttp = new XMLHttpRequest();

    xhttp.open("POST", "/prenda/nueva/guardarropa?guardarropa=" + selectedOption, true);
    xhttp.send();

    xhttp.onreadystatechange=function() {
      if (this.readyState == 4 && this.status == 200) {
        var list = document.getElementById("clothe-list");
        list.innerText = null;
        var prendas = JSON.parse(this.responseText);
        for(var i = 0; i < prendas.length; i++) {
          var list_element = document.createElement("LI");
    		  var prenda = document.createTextNode(prendas[i]);
    		  list_element.appendChild(prenda);
    		  list.appendChild(list_element);
        }
      }
    };

  }


  function get_clothe_type(){
    var select = document.getElementById("tela");
    var selectedOption = document.getElementById("tipoPrenda").value;
    var xhttp = new XMLHttpRequest();

    xhttp.open("POST", "/prenda/nueva/tipo?tipoPrenda=" + selectedOption, true);
    xhttp.send();

    xhttp.onreadystatechange=function() {
      if (this.readyState == 4 && this.status == 200) {
        select.innerText = null;
        var telas = JSON.parse(this.responseText);
        for(var i = 0; i < telas.length; i++) {
          var opt = document.createElement('option');
          opt.innerHTML = telas[i];
          opt.value = telas[i];
          select.appendChild(opt);
        }
      }
    };
  }

  </script>

  </html>
